body {
    padding: 20px;
  }
  
.list-group-item {
    cursor: move;
    cursor: -webkit-grabbing;
}

.top-20 { 
    margin-top: 20px; 
}

.top-40 { 
    margin-top: 40px; 
}

.list-group-item:first-child {
    background-color: lightblue;
}
