  
.list-group-item {
    cursor: move;
    cursor: -webkit-grabbing;
}

body {
    padding-bottom: 100px;
}

.top-20 { 
    margin-top: 20px; 
}

.top-40 { 
    margin-top: 40px; 
}

.list-group-item:first-child {
    background-color: lightblue;
}

.list-group-item {
    text-align: center;
    font-size: 2rem;
}

.btn-close:hover {
    background-color: coral;
}

